@{
  Layout = "_Layout";
}

@model GameStore.Models.Employee

<h4>Add a new Employee</h4>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.EmployeeName)
  @Html.TextBoxFor(model => model.EmployeeName)
  <input type="submit" value="Add new employee" />
}
<p>@Html.ActionLink("Show all employees", "Index")</p>