@{
  Layout = "_Layout";
}

@model GameStore.Models.Employee

<h2>Are you sure you want to delete this?</h2>

@Html.DisplayNameFor(model => model.EmployeeName): @Html.DisplayFor(model => model.EmployeeName)
@using (Html.BeginForm())
{
  <input type="submit" value="Delete" />
}

<div id="footer">
<button>@Html.ActionLink("Back to List", "Index")</button>
</div>