<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>The Game Store</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel='stylesheet' href='~/css/styles.css'>
    @* <link rel='stylesheet' href='GameStore/wwwroot/css/styles.css'> *@
  </head>
  <body>
    <div class = "container jumbotron">
      @RenderBody()
      @await Html.PartialAsync("Footer")
      @await Html.PartialAsync("Bottom")
    </div>
  </body>
</html>
