@{
  Layout = "_Layout";
}

<h1>Welcome to the Game Store!</h1>
<p>@Html.ActionLink("See available games", "Index", "Games")</p>
<p>@Html.ActionLink("See all customers", "Index", "Customers")</p>
<p>@Html.ActionLink("See all employees", "Index", "Employees")</p>
<p>@Html.ActionLink("Create an account", "Index", "Account")</p>